header {
    background-color: #0F172A;
    width: 100%;
    z-index: 500;
    top: 0;
    border-color: black;
    position: sticky;

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

}
.logo {
    color: white;
    font: bolder;
    font-size: larger;
    text-shadow: 1px 1px 2px black;
    
}
a {
    text-decoration: none;
    padding: 5px;
    font-size: medium;
    
}
body {
    box-sizing: border-box;
    background-color: white;
}
#Home {
    background-image: url('assets/images/classroom3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    margin: 40px;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    padding: 8px;
    box-shadow: 0 10px 20px -4px black;
}
.hero-item {
    color: #334155;
}
.hero-item h1 {
    font-size: xx-large;
    font: bolder;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    
}
#Services {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #f8fafc;
    
}
.form-container {
    width: 100%;
    background-color: rgb(179, 179, 193);
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    font-size: medium;
    text-shadow: 1px 1px 8px black;
    
    
    
}
footer {
    border-top: 2px solid black;
    margin-top: 6px;
    background-color: #18223a;
    color: white;
}
.footer-bottom {
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #0F172A;
}
.dashboard-btn {
    display: inline-block;
    border: 1px solid gray;
    background-color: #2563eb;
    color: white;
    border-radius: 8px;
    padding: 4px;
    width: 6rem;
}
.dashboard-btn:hover {
    background-color: #1D4ED8;
}